# Base #
########
.Rproj.user
.Rproj
.Rhistory
.RData
.Rprofile
.Ruserdata
*.html
# folder #
##########
misc/
output/
data/*
!*data/03_tax-recategorisation.csv
figs/hex_logo.svg
figs/workflow.svg
.httr-oauth
